body, body * {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

a {
  color: white;
}

@font-face {
  font-family: StNicholas;
  src: url(stnicholas.ttf);
}

body {
  font-family: StNicholas;
  background-color: #B3000C;
  color: white;
}

#sketch {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.merrychristmas {
  position: absolute;

  width: 100vw;
  top: 45vh;
  text-align: center;
  font-size: 5vh;

  user-select: none;
}

.loading {
  position: absolute;
  font-size: 5vh;
  width: 100vw;
  bottom: 10vh;
  text-align: center;
  background-color: inherit;
  color: inherit;
  z-index: 15;
}

.container {
  z-index: 15;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #B3000C;
}

.disclaimer {
  position: absolute;
  z-index: 20;

  width: 80vw;
  top: 10vh;
  left: 10vw;
  font-size: 5vh;

  background-color: inherit;
  text-align: center;
}

.okbutton {
  position: absolute;
  z-index: 20;

  font-size: 5vh;
  font-family: inherit;

  transform: translateX(-50%);
  left: 50vw;
  bottom: 8vh;

  background-color: inherit;
  color: inherit;

  border: 1px solid white;
  padding: 1.5vw;
  line-height: 120%;
  display: none;
}

.footer {
  position: absolute;
  z-index: 20;

  display: none;
  font-size: 3vh;
  bottom: 0vh;
  width: 100vw;

  text-align: center;
  color: inherit;
}

.instructions {
  padding-bottom: 3vh;
}

.credits {
  padding-bottom: 3vh;
}

.desktop {
  display: none;
}

@media only screen and (min-width: 600px) {
  .disclaimer {
    font-size: 7vh;
    top: 20vh;
  }

  .footer {
    font-size: 7vh;
  }

   .merrychristmas {
     top: 35vh;
     font-size: 15vh;
   }

  .loading {
    font-size: 7vh;
    bottom: 15vh;
  }

  .okbutton {
    font-size: 7vh;
    bottom: 15vh;
  }

  .instructions {
    padding-bottom: 1vh;
  }

  .desktop {
    display: inline-block;
  }

  .mobile {
    display: none;
  }
}
